<div *ngIf="!isAdmin()">
    <h2>
        401: Unauthorized!!!
    </h2>
</div>

<div *ngIf="isAdmin()">
    <h2>Add new book</h2>
    <br>

    <form #form="ngForm" class="w-50" (ngSubmit)="handleAddBook()">
        <div class="mb-3">
            <label for="title" class="form-label">Book Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                [(ngModel)]="book.title">
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="title" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Author"
                        [(ngModel)]="book.author">
                </div>
                <div class="col">
                    <label for="title" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre"
                        [(ngModel)]="book.genre">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="title" class="form-label">Date Published</label>
                    <input type="date" id="date" name="date" class="form-control" [(ngModel)]="book.date">
                </div>
                <div class="col">
                    <label for="title" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Price"
                        [(ngModel)]="book.price">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity"
                [(ngModel)]="book.quantity">
        </div>
        <button type="submit" class="btn btn-primary">Add new book</button>
    </form>
</div>